In [21]:
print("Training and Testing Data")
#in this data set mileage and age are independent variable and sell price is dependent variable
#in this data set we have to predict the sell price of the car
#we have to split the data into training and testing data
#we have to use linear regression model to predict the sell price of the car
#we have to use train_test_split to split the data into training and testing data
import pandas as pd
df = pd.read_csv("carprices.csv")
df.head(5)

Training and Testing Data

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [22]:
#assigining milage and age to x and sell price to y

x = df[["Mileage","Age(yrs)"]]
y = df["Sell Price($)"]

In [23]:
x.head()

   Mileage  Age(yrs)
0    69000         6
1    35000         3
2    57000         5
3    22500         2
4    46000         4

In [24]:
#importing train_test_split from sklearn.model_selection
#split the data into test and training , here we splited data 20% test and 80% for train
#we can also use random_state=10 in train_test_split
#random_state=10 means it will split the data randomly
# after spliting you get four parameters(X_train, X_test, Y_train, Y_test)

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.2,train_size=0.8)

#X_train is the training data of independent variable
#X_test is the testing data of independent variable
#Y_train is the training data of dependent variable
#Y_test is the testing data of dependent variable

In [25]:
X_train
#it choose random data,(run again and clarify)
#to stop the random data should be selected use random state(it freeze the no. of data to be changed)
#X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.2,train_size=0.8,random_state=10)

    Mileage  Age(yrs)
18    87600         8
16    28000         2
17    69000         5
19    52000         5
12    59000         5
8     91000         8
4     46000         4
2     57000         5
15    25400         3
7     72000         6
3     22500         2
13    58780         4
6     52000         5
0     69000         6
11    79000         7
9     67000         6

In [26]:
len(X_train)

16

In [27]:
len(X_test)

4

In [28]:
from sklearn.linear_model import LinearRegression
#using linear model
#creating a linear regression object
#fitting the model to train
clf = LinearRegression()
clf.fit(X_train,Y_train)

LinearRegression()

In [29]:
clf.predict(X_test)

array([25129.22081466, 34406.12803841, 16055.93358693, 15852.31359091])

In [30]:
Y_test

5     26750
1     34000
14    19400
10    18700
Name: Sell Price($), dtype: int64

In [31]:
#find the accuracy of the data set using score
clf.score(X_test,Y_test)

0.8573220332756071